
@media all and (orientation: landscape){
    *{
        margin-left: 12.5vw;
        margin-right: 12.5vw;
    }
}


@media all and (orientation: portrait){
    *{
        margin-left: 0.5vw;
        margin-right: 0.5vw;
    }
}

body {
    background-color: white;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.bullet{
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
    text-align: left;
}
