
@media all and (orientation: landscape){
    *{
        margin-left: 10vw;
        margin-right: 10vw;
    }
}


@media all and (orientation: portrait){
    *{
        margin-left: 1vw;
        margin-right: 1vw;
    }
}

a{
    margin: 0px;
}

body {
    background-color: white;
}

* {
    text-align: center;
}

.bullet{
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
    text-align: left;
}
