*{
    margin-left: calc(12.5vw - 32px);
    margin-right: calc(12.5vw - 32px);
}

body {
    background-color: white;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.bullet{
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
    text-align: left;
}
